body {
          background-color: brown;
        }
        h1.dotted {
          border-style: dotted;
        }
        p.solid {
        	border-style: solid;
            border-radius: 10px;
            padding: 35px;
          background-color: yellow;
        }
        
